.env
/__pycache__
/.chainlit
/.files
/.infinity_cache
/uac/__pycache__
/uac/configs/__pycache__
/uac/embeddings/__pycache__
/uac/agents/__pycache__
/uac/human_preference/__pycache__
/uac/llms/__pycache__
/uac/memory/__pycache__
/uac/prompts/__pycache__
/uac/retrieval/__pycache__
/uac/router/__pycache__
/uac/utils/__pycache__
/uac/storage/__pycache__
/venv